* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 2836px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

.hero {
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: 1vh 1vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-image: url(https://goolo.my.canva.site/exercise-1/images/cbd7a47024203a6a686955c639b2b911.png);
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 0.7;
}

.hero-text {
    overflow-y: hidden;
    font-size: 10vw;
}

.logo-container {
    flex: 0.3;
}

.logo {
    height: 10vw;
    width: 10vw;
    display: flex;
    justify-content: center;
}

.shop {
    background-color: rgb(177, 196, 190);
    flex: 1.5;
    display: flex;
    justify-content: flex;
    flex-direction: row;
    padding: 1vh 1vw;
}

.shop-text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.shop-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5vw;
    color: rgb(28, 91, 145);
}

.shop-photo-container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.shop-photo-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.shop-photo-text-container {
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    justify-content: flex-start;
    color: rgb(28, 91, 145);
    flex: 1;
    font-size: 2vw;
}

.shop-photo1 {
    height: 22vw;
    width: 22vw;
}

.models {
    background-color: rgb(107, 144, 128);
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.models-container-photo {
    width: 35vw;
    height: 25vw;
}

.contact {
    background-color: rgb(204, 227, 222);
    flex: 1;
}

.contact-container {
    display: flex;
    flex-direction: column;
    color: rgb(28, 91, 145);
    font-size: 4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1vh 1vw;
}

footer {
    flex: 0.04;
    padding: 1vh 1vw;
    background-color: rgb(228, 240, 236);
    flex: 0.2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(81, 163, 136);
    font-size: 3.5vw;
}

.footer-container {
    display: flex;
}

.footer-logo-class {
    height: 6vw;
    width: 6vw;
    display: flex;
    justify-content: center;
}

#features {
    flex: 1;
    display: flex;
    justify-content: center;
}

#footer-logo {
    display: flex;
    justify-content: center;
    flex: 0.7;
}

#newsletter {
    flex: 0.8;
    display: flex;
    justify-content: center;
}