* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 3420px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hero {
    background-size: cover;
    background-position: center;
    flex: 0.27;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 150px;
    background-image: url(https://goolo.my.canva.site/exercise-1/images/cbd7a47024203a6a686955c639b2b911.png);
    
}

#logo {
    height: 20vh;
    width: 10vw;
    display: flex;
    justify-content: center;
}

.shop {
    background-color: rgb(177, 196, 190);
    flex: 0.29;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.photos {
    background-color: rgb(228, 240, 236);
    flex: 0.3;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

}

#div1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    justify-content: flex-start;
    color: rgb(28, 91, 145);
    font-size: 35px;
    flex: 1;
}

#div2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    justify-content: flex-start;
    color: rgb(28, 91, 145);
    flex: 1;
    font-size: 35px;
}

#div3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color: rgb(28, 91, 145);
    flex: 1;
}

#photo1 {
    display: block;
    object-fit: contain;
    width: 50vw;
    height: 70vh;
    background-position: center;
    background-image: url(https://goolo.my.canva.site/exercise-1/images/1d93c2b2320b879d6067e63cbf997bf1.png);
    justify-content: center;
    background-size: cover;
}



#photo2 {
    height: 600px;
    display: block;
    width: 50vw;
    height: 70vh;
    justify-content: center;
    background-position: center;
    background-image: url(https://goolo.my.canva.site/exercise-1/images/4de1b21e4d3300975a7c04c8956b6349.png);
    background-size: cover;
}



.contact {
    background-color: rgb(177, 196, 190);
    flex: 0.1;
}

#div4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    color: rgb(28, 91, 145);
}

#div5 {
    font-size: 30px;
    color: aliceblue;
}

footer {
    background-color: rgb(228, 240, 236);
    flex: 0.04;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(81, 163, 136);
    font-size: 30px;
}

#features {
    flex: 1;
    display: flex;
    justify-content: center;
}

#footer-logo {
    display: flex;
    justify-content: center;
    flex: 1;
}

#newsletter {
    flex: 1;
    display: flex;
    justify-content: center;
}